html, body {
  margin: 0;
  padding: 0;
}
b {
  font-weight: 1000;
}
h1 {
  font-weight: normal;
}

.space {
  margin-top: 0;
  padding-top: 0;
}

.hello {
  font-size: 28px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #333;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.weightloss {
  font-size: 28px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.container {

  margin: 40px;
  padding: 0 10px;
  text-align: center;
}

.jumbotron {
  background: url(https://mail.google.com/mail/u/0/?ui=2&ik=fc9cd8ba27&view=fimg&th=15b62366fa313a00&attid=0.1&disp=inline&safe=1&attbid=ANGjdJ-8YagDXGzyLoirOkjHkdnvN4GypLAe4IKUCagFcTrw-pS4qrFdQ-yqbNt7JBwpGOmOUJd5WuFvDqnZ0h0zHgA1notABFbcxzfn-pp2tWFQoLxlZhf3Wf7WMoA&ats=1492110367485&rm=15b62366fa313a00&zw&sz=w897-h473) no-repeat right;
  background-size:;
  height: 470px;
  background-color: #EF5E1B;
}

.header {
  background-color: #fff;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #333;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
  text-align: right;
}

.main {
  position: relative;
  top: 100px;
  text-align: left;
  padding: 0;
  margin: 20px;
}

.main h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: left;
}

a {
  margin-top: 40px
  margin-bottom: 40px
}

.btn-main {
  background-color: #bbc4bd;
  border-radius: 20%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 13px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid #333;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 20px;      
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #fff;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}
