html, body {
  margin: 0;
  padding: 0;
  min-width: 680px;
  text-align: center;
  font-family: 'oswald', sans-serif;
  background-color: #F2F1ED;
}

}
.back {
  height: 65px;
}

.lol {
  height: 200px;
  background: url(https://cdn.pixabay.com/photo/2017/04/04/22/10/stairs-2203290_960_720.jpg) no-repeat center;
  background-size: cover;
}

.lol2 {
  height: 200px;
  background: url(https://lh3.googleusercontent.com/TrvuKXQQTFvbWsm_J0yZ-Lwytns6YzGPuwC2LJQ8OF8XZJxw_3XzdTetRveXu4kWVElHy2s=s128) no-repeat center;
  background-size: cover;
}

.lol3 {
  height: 200px;
  background: url(https://lh3.googleusercontent.com/_zzK8NRYn_VUSrKOEMPvBOKIxKm_vS8hJWfIA_bn07571TAUJnU2h4BYdlbKJ4pxhJTlrg=s128) no-repeat center;
  background-size: cover;
}

.moto {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
}

.ruin {
  font-size: 18px;
  text-align: left;
  margin-left: 100px;
  margin-bottom: 40px;
  max-width: 950px;
}


.line {
  background-color: #333;
  height: 10px;
}
b {
  font-weight: 1000;
}
h1 {
  font-weight: normal;
}

.space {
  margin-top: 0;
  padding-top: 0;
}

.hello {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  font-weight: 100;
  background-color: #F2F1ED;
  text-align: center;
  padding: 10px;
  margin: 0;  
  font-size:60px;
}

.weightloss {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #333;
  text-align: center;
  padding: 10px;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.container {

  margin: 0px;
  padding: 0 10px;
  text-align: center;
}

.jumbotron {
  background: url("background.jpg") no-repeat right;
  background-size:;
  height: 425px;
  background-color: #F2F1ED;
  margin-top: 50px;
  padding-bottom: 100px;
}
/*
.header {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 3;
}
*/

.nav {
  list-style-type: circle;
  margin: 0;
  padding: 15px 0;
  background-color: #CB646F;
  list-style-position:inside;
}

.nav li {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  display: inline;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.main {
  position: relative;
  top: 100px;
  text-align: center;
  padding: 0;
}

.main h1 {
  color: #333;
  font-weight: normal;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  max-width: 500px;
}

.main h2 {
  max-width: 600px;
}

a {
  margin-top: 40px
  margin-bottom: 40px
}

.btn-main {
  background-color: #CB646F;
  border-radius: 5%;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 13px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid #333;
  color: #000;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 0px;      
  margin-top: 0;
}

.supporting {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F2F1ED;
}

.supporting .col {
  float: left;
  width: 33%;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: normal;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #CB646F;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  text-transform: uppercase;
  font-size: 11px;
  height: 5px;
}
